.Template {
    padding-top: 60px;
  }
  .title {
    width: 90vw;
    margin-left: 500px;
    margin-right: auto;
  
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: 000000;
}